[Desktop Entry]
Categories=Development;RevisionControl;
Exec=smartgit
GenericName=Git Client
Icon=com.syntevo.SmartGit
Keywords=git;
MimeType=x-scheme-handler/git;x-scheme-handler/smartgit;x-scheme-handler/sourcetree;
Name=SmartGit
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=syntevo-smartgit
