[Desktop Entry]
# REQUIRED
Name=SmartGit
Type=Application
# OPTIONAL
Categories=Development;RevisionControl;
Comment=The Smart Way to Git
Exec=smartgit
Icon=com.syntevo.SmartGit
Keywords=development;git;scm;version-control;
MimeType=x-scheme-handler/git;x-scheme-handler/smartgit;x-scheme-handler/sourcetree;
StartupNotify=false
StartupWMClass=syntevo-smartgit
Terminal=false
Version=1.0
